<form class="form-signin">
    <h2 class="form-signin-heading">Please Login</h2>

    <fieldset class="form-group">
        <label for="inputUsername" class="">User name</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="enter your username here" required=""
               autofocus="">
    </fieldset>
    <fieldset class="form-group">
        <label for="inputPassword" class="">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="enter your password here"
               required="">
    </fieldset>

    <fieldset class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="true">Remember me
            </label>
        </div>
    </fieldset>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
