<form class="form-signin">
    <h2 class="form-signin-heading">Please Register</h2>

    <fieldset class="form-group">
        <label for="inputUsername" class="">User name</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="choose a user name" required=""
               autofocus="">
    </fieldset>

    <fieldset class="form-group">
        <label for="inputEmail" class="">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="enter your email address" required="">
    </fieldset>

    <fieldset class="form-group">
        <label for="inputPassword" class="">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="chose a password" required="">
        <input type="password" id="inputPassword2" class="form-control" placeholder="type in the password again"
               required="">
    </fieldset>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
